#altmenu{
    top: 20px;
}
.kurallarimiz{
        color: #fff;
        font-family: "torus";
        text-align: center;
        margin-top: 70px;
}
.kurallarimiz p{
    color: rgba(255, 255, 255, 0.829);
    margin-bottom: 5%;
}
.baslik{
    color: #fff;
    font-family: "torus";
    font-size: 75%;
    margin-left: 7%;
}
.ikiliyazi{
    display: flex;
    font-family: "torus";
    margin-bottom: 1%;
    margin-left: 10%;
}
.renkli{
    width: 70%;
    color: #fff;
    margin-right: 5%;
    text-align: left;
}
.renksiz{
    margin-left: -51%;
    margin-top: 0;
    width: 60%;
    color: rgba(255, 255, 255, 0.548);
}
@media screen and (max-width: 1209px) {
    .renkli{
        margin-bottom: 20px;
    }
    .renksiz{
        margin-top: 40px;

    }
}
.aciklama{
    margin-left: 10%;
    margin-bottom: 2%;
    width: 80%;
    font-family: "torus";
    display: flex;
    color: rgba(255, 255, 255, 0.548);
}
.madde{
    list-style-type: circle;
    margin-left: 15%;
    margin-bottom: 1%;
    width: 80%;
    font-family: "torus";
    display: flex;
    color: rgba(255, 255, 255, 0.822);
}