body{
    margin: 0;
    padding: 0;
    background: #26292c;
    background-image: url(/meduwarewebsitedata/arkaplantema2.png);
    font-family: "Torus";
}
.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;

}

@media (max-width: 600px) {
  .toggle-button{
    display: flex;
  }

  .navbar-links{
    display: none;
  }
}
#hiza{
    width: 74vw;
    position: relative;
    margin-left: 13%;
  }
  .anacerceve{
    min-width: 650px;
    font-size: 13px;
    margin: 0;
    margin-top: 1%;
    padding: 0;
    height:  50px;
    line-height: 50px;
    text-align: left;
  }
  .anacerceve li{
    list-style: none;
    display: inline-block;
  }
  .anacerceve li a{
    text-decoration: none;
    color: #fff;
    font-family: "torus";
    display: block;
    overflow: hidden;
    padding: 10px 6px;
    transition: 0.05s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .topnav {
    overflow: hidden;
    display: static;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.486);
    width: 90%;
    margin-left: 5%;
  }
  
  .topnav .yazilar {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 25px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }
  
  #active {
    background-color: #5390d9;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 25px 16px;
    background-color: inherit;
    font-family: "Torus";
    margin: 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-name: in;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: rgb(63, 63, 63);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover #renkli {
    background-color: #555;
    color: white;
  }
  #renkli:hover {
    background-color: #555;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: rgb(20, 20, 20);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .logo {
    float: left;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    background: url(/meduwarewebsitedata/renksizmainlogo.png) no-repeat;
    width: 4%;
    height: 70px;
    padding: 0px 15px;
    transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
  }
  .logo:hover {
    background:url(/meduwarewebsitedata/renklimainlogo.png) no-repeat;
    display: block;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(1.1);
    z-index: 2;
  }
  .sagcerceve{
    float: right;
    display: block;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none
  }
  .fa-discord{
    position: relative;
    margin: 0px;
    padding: 10px;
    margin-top: 15%;
    transition: all .1s ease-in;
    border: 3px solid rgb(105, 105, 105);
    color: #fff;
    box-sizing: border-box;
    border-radius: 100%;
  }
  .fa-discord:hover{
    position: relative;
    margin: 0px;
    padding: 10px;
    margin-top: 15%;
    transition: all .1s ease-in;
    border: 3px solid rgb(255, 255, 255);
  }
  .fa-heart{
    position: relative;
    margin: 0px;
    padding: 10px;
    margin-top: -30%;
    border: 3px solid rgb(105, 105, 105);
    color: #fff;
    box-sizing: border-box;
    border-radius: 100%;
  }
  .fa-heart:hover{
    position: relative;
    margin: 0px;
    padding: 10px;
    margin-top: -30%;
    transition: all .1s ease-in;
    border: 3px solid rgb(255, 255, 255);
    color: #f50a8b;
  }
  
  @media screen and (max-width: 1055px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
      color: #f2f2f2;
      padding: 15px 30px;
      margin-right: 0%;
      margin-bottom: 0%;
      text-align: center;
      text-decoration: none;
      font-size: 17px;
      display: block;
    }
    .topnav {
      width: 100%;
      margin-top: 0%;
      margin-left: 0%;
    }
    .sagcerceve{
      display: none;
    }
    .logo{
      background:url() no-repeat;
      width: 0%;
      margin-left: -20%;
      display: block;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      -moz-transform: scale(0);
    }
    .logo:hover{
      background:url() no-repeat;
      display: none;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      -moz-transform: scale(0);
    }
  }
  
  @media screen and (max-width: 1055px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0%;
      top: 0;
      padding: 15px 30px;
      bottom: 5%;
    }
    .topnav.responsive a {
      -webkit-animation-duration: 0.3s;
      -webkit-animation-name: in;
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn{
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  #altmenu{
    margin: 0;
    padding: 10px;
    height: 35px;
    text-align: center;
    list-style: none;
    position: relative;
    box-shadow: 16px 16px 16px 16px rgba(0, 0, 0, 0.767);
    background-color: rgba(30, 33, 36, 0.247);
    font-family: "torus";
    display: block;
    overflow: hidden;
}
#altmenu .yazi4{
    margin-top: 10%;
    font-size: 10px;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    color: rgba(255, 255, 255, 0.562);
}
#button1:hover{
    color: rgb(87, 182, 255);
}
#button2{
    transition: 0.5s ease;
    font-size: 70%;
    margin-right: 0%;
    margin-left: 0;
    color: #fff;
    text-decoration:none;
    border: 7.2px solid transparent;
    border-radius: 5px;
    z-index: 2;
}
#button2:hover{
    color: rgb(87, 182, 255);
}
#button3{
    transition: 0.5s ease;
    font-size: 70%;
    margin-right: 0;
    margin-left: 4%;
    color: #fff;
    text-decoration:none;
    border: 7.2px solid transparent;
    border-radius: 5px;
    z-index: 2;
}
#button3:hover{
    color: rgb(87, 182, 255);
}
#button1{
    transition: 0.5s ease;
    font-size: 70%;
    margin-right: 4%;
    color: #fff;
    text-decoration:none;
    border: 7.2px solid transparent;
    border-radius: 5px;
    z-index: 2;
}
@media (max-width: 452px) {
  #button3{
    margin-right: 20%;
    margin-left: 27%;
  }
}
@media (max-width: 293px) {
  #button1{
    font-size: 50%;
  }
  #button2{
    font-size: 50%;
  }
  #button3{
    font-size: 50%;
  }
}
button1{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            cursor:pointer;
    position: absolute;
    margin-left: -55px;
    width: 95px;
    height: 17px;
    color: rgba(38, 49, 58, 0.733);
    text-decoration:none;
    border: 7.2px solid transparent;
    border-radius: 5px;
    z-index: 10;
}
button1:hover{
    color: rgba(35, 39, 42, 0.911);
}
button2{
    background-color: #47a386;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 10px 10px;
    cursor:pointer;
}
.button3{
    background-color: #47a386;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin-left: 10px;
    padding: 10px 10px;
    text-decoration:none;
    cursor:pointer;
}
button4{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            cursor:pointer;
    margin-left: 42.5%;
    display: grid;
    width: 150px;
    color: rgba(38, 49, 58, 0.856);
    background-color: #fff;
    text-decoration:none;
    text-align: center;
    font-family: "torus";
    border: 14px solid transparent;
    border-radius: 5px;
    z-index: 2;
}
button4:hover{
    color: rgb(35, 39, 42);
}
button5{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            cursor:pointer;
    margin-left: 80%;
    display: grid;
    color: rgba(38, 49, 58, 0.856);
    text-decoration:none;
    border: 10px solid transparent;
    border-radius: 10px;
    z-index: 2;
}
button5:hover{
    color: rgb(21, 24, 26);
}

.satinal{
  background-color: #47a386;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 10px 10px;
  text-decoration:none;
  cursor:pointer;
}

button6{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: grid;
  margin-top: 50px;
  margin-left: 310px;
  width: 50px;
  background-color: #47a386;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 10px 10px;
  text-decoration:none;
  cursor:pointer;
}

.kapatmabuttonu{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: grid;
  margin-top: 20px;
  margin-left: 220px;
  width: 50px;
  background-color: #47a386;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 10px 10px;
  text-decoration:none;
  cursor:pointer;
}
.modal-text-satinal h8{
  margin-bottom: 0;
  margin-top: 0;
  padding: 10px 50px;
  z-index: 100;
}

.sunucular{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            cursor:pointer;
    position: relative;
    text-align:center;
    background-color: rgb(255, 255, 255);
    top: 0px;
    margin-left: 2%;
    width: 120px;
    height: 16px;
    color: rgba(38, 49, 58, 0.733);
    text-decoration:none;
    border: 7px solid transparent;
    border-radius: 4px;
    z-index: 10;
}
.sunucular:hover{
    color: rgba(35, 39, 42, 0.911);
}
.siralama{
        -webkit-touch-callout: none;
        -webkit-user-select: none;
         -khtml-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
                cursor:pointer;
        position: relative;
        text-align:center;
        background-color: rgb(255, 255, 255);
        top: 0px;
        left: 0px;
        width: 81px;
        height: 16px;
        color: rgba(38, 49, 58, 0.733);
        text-decoration:none;
        border: 7px solid transparent;
        border-radius: 4px;
        z-index: 10;
}
.siralama:hover{
        color: rgba(35, 39, 42, 0.911);
}
.yasaklamalar{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            cursor:pointer;
    position: relative;
    text-align:center;
    background-color: rgb(58, 247, 0);
    top: -10px;
    width: 120px;
    height: 16px;
    color: rgba(38, 49, 58, 0.733);
    text-decoration:none;
    border: 12px solid transparent;
    border-radius: 4px;
    z-index: 10;
}
.yasaklamalar:hover{
    color: rgba(35, 39, 42, 0.911);
}
.icerik{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            cursor:pointer;
    position: absolute;
    margin-left: -66px;
    text-align: center;
    margin-top: 30px;
    width: 118px;
    height: 20px;
    color: rgba(38, 49, 58, 0.733);
    text-decoration:none;
    border: 7.2px solid transparent;
    z-index: 2;
}
.icerik:hover{
    color: rgba(35, 39, 42, 0.911);
}
.steam{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            cursor:pointer;
    position: absolute;
    margin-left: -66px;
    text-align: center;
    margin-top: 65px;
    width: 118px;
    height: 25px;
    color: rgba(38, 49, 58, 0.733);
    text-decoration:none;
    border: 7.2px solid transparent;
    z-index: 2;
}
.steam:hover{
    color: rgba(35, 39, 42, 0.911);
}
.discord{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            cursor:pointer;
    position: absolute;
    margin-left: -66px;
    text-align: center;
    margin-top: 101px;
    width: 118px;
    height: 25px;
    color: rgba(38, 49, 58, 0.733);
    text-decoration:none;
    border: 7.2px solid transparent;
    z-index: 2;
}
.discord:hover{
    color: rgba(35, 39, 42, 0.911);
}
.oynanis{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            cursor:pointer;
    position: absolute;
    margin-left: -65px;
    text-align: center;
    width: 116px;
    height: 25px;
    color: rgba(38, 49, 58, 0.733);
    text-decoration:none;
    border: 7.2px solid transparent;
    z-index: 2;
}
.oynanis:hover{
    color: rgba(35, 39, 42, 0.911);
}
.sss2{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            cursor:pointer;
    position: absolute;
    margin-left: -65px;
    text-align: center;
    margin-top: 31px;
    width: 116px;
    height: 25px;
    color: rgba(38, 49, 58, 0.733);
    text-decoration:none;
    border: 7.2px solid transparent;
    z-index: 2;
}
.sss2:hover{
    color: rgba(35, 39, 42, 0.911);
}
.kurallar{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            cursor:pointer;
    position: absolute;
    margin-left: -65px;
    text-align: center;
    margin-top: 71px;
    width: 116px;
    height: 25px;
    color: rgba(38, 49, 58, 0.733);
    text-decoration:none;
    border: 7.2px solid transparent;    
    z-index: 2;
}
.kurallar:hover{
    color: rgba(35, 39, 42, 0.911);
}   
.yardim{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
            cursor:pointer;
    position: absolute;
    margin-left: -65px;
    text-align: center;
    margin-top: 111px;
    width: 116px;
    height: 45px;
    color: rgba(38, 49, 58, 0.733);
    text-decoration:none;
    border: 7.2px solid transparent;
    z-index: 2;
}
.yardim:hover{
    color: rgba(35, 39, 42, 0.911);
}   

.modal-container{
    -webkit-animation-duration: 0.3s;
    background-color:  rgba(0, 0, 0, 0.3);
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    font-family: "Torus";
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
}
.modal-text{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-animation-duration: 0.3s;
    background-color: #fff;
    max-width: 100%;
    color: rgba(53, 53, 53, 0.836);
    border-radius: 7px;
    padding: 30px 50px;
    text-align: center;
    z-index: 100;
}
.modal-text-satinal{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-animation-duration: 0.3s;
  background-color: #fff;
  max-width: 100%;
  height: 300px;
  opacity: 1;
  color: rgba(53, 53, 53, 0.836);
  border-radius: 7px;
  padding: 30px 0px;
  display: block;
  text-align: center;
  z-index: 100;
}
.modal-text-satinal.noshow{
  opacity: 0;
  display: none;
  pointer-events: none;
}
.modal-container.show{
    transition: all 0.2s ease;
    opacity: 1;
    pointer-events: auto;
}

.modal-text-satinal-ininal{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-animation-duration: 0.3s;
  background-color: #fff;
  max-width: 505px;
  height: 300px;
  color: rgba(53, 53, 53, 0.836);
  border-radius: 7px;
  padding: 30px 0px;
  text-align: center;
  z-index: 100;
  opacity: 0;
  display: none;
  pointer-events: none;
}
.modal-text-satinal-ininal.show{
  -webkit-animation-duration: 0.3s;
  -webkit-animation-name: in;
  transition: all 0.5s ease;
  opacity: 1;
  display: block;
  pointer-events: auto;
}
#saklambacyazi{
  opacity: 0;
  display: none;
  pointer-events: none;
}
#saklambacyazi.show{
  opacity: 1;
  display: block;
  pointer-events: auto;
}
#hnsyazi{
  opacity: 0;
  display: none;
  pointer-events: none;
}
#hnsyazi.show{
  opacity: 1;
  display: block;
  pointer-events: auto;
}
.modal-text-satinal-papara{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-animation-duration: 0.3s;
  background-color: #fff;
  max-width: 505px;
  height: 300px;
  color: rgba(53, 53, 53, 0.836);
  border-radius: 7px;
  padding: 30px 0px;
  text-align: center;
  z-index: 100;
  opacity: 0;
  display: none;
}
.modal-text-satinal-papara.show{
  -webkit-animation-duration: 0.3s;
  -webkit-animation-name: in;
  transition: all 0.5s ease;
  opacity: 1;
  display: block;
  pointer-events: auto;
}
.modal-text-satinal-ininal h2{
  padding: 0px 30px;
  margin-top: -10px;
  margin-bottom: 50px;
}
.modal-text-satinal h1{
    padding: 0px 30px;
    margin: 0;
    z-index: 100;
}
.modal-text-satinal h2{
  margin-bottom: 50px;
  bottom: 0;
  z-index: 100;
}
.modal-text-satinal p{
  padding: 0px 20px;
}
@media screen and (max-width: 700px) {
  .modal-text-satinal h8{
    padding: 100px 5px;
    z-index: 100;
  }
}
@media screen and (max-width: 950px) {
  button6{
    margin-top: 30px;
    margin-left: 44%;
  }
  .kapatmabuttonu{
    margin-left: 44%;
  }
}
@media screen and (max-width: 448px) {
  .modal-text-satinal{
    height: 350px;
  }
}
@media screen and (max-width: 380px) {
  .modal-text-satinal-ininal{
    height: 350px;
  }
}
@-webkit-keyframes in{
    0%{
        opacity: 0; 
        margin-top: -1%;
    }
    100%{
        opacity: 1;
        margin-top: 0%;
    }
}

@font-face {

  font-family: Torus;
  
  src: url(/fonts/Torus-SemiBold.otf) format("truetype");
}
